<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading" >
                <i class="fa fa-comment-o"></i> 发送短信
            </div>
            <div class="panel-body">
                <div class="row">
                    <form role="form" name="myForm">
                        <div class="col-lg-4 col-lg-offset-4">
                           <!-- <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>-->
                            <div class="form-group">
                                <label class="control-label">手机号码：</label>
                                <input class="form-control" name="phone" ng-model="phone" required>
                                <span class="alert alert-danger" ng-show="myForm.phone.$dirty && myForm.phone.$invalid">
                                <span ng-show="myForm.phone.$error.required">手机号码是必填的.</span>
                                </span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">部门类型：</label>
                                <select class="form-control">
                                    <option>全部</option>
                                    <option>资产管理部</option>
                                    <option>运维部</option>
                                    <option>资产部</option>
                                    <option>武汉部</option>
                                    <option>夸克理财</option>
                                    <option>风险控制</option>
                                    <option>市场部</option>
                                </select>

                            </div>
                            <div class="form-group">
                                <label class="control-label">业务类型：</label>
                                <select class="form-control">
                                    <option>全部</option>
                                    <option>小贷通---理财</option>
                                    <option>T24</option>
                                    <option>CRM划扣</option>
                                    <option>催收业务</option>
                                    <option>夸克财富</option>
                                    <option>UFO</option>
                                    <option>小贷通---贷款</option>
                                    <option>监控告警</option>
                                    <option>核心业务</option>
                                    <option>APP</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="control-label">发送渠道：</label>
                                <select class="form-control">
                                    <option>全部</option>
                                    <option>亿美-才米</option>
                                    <option>创蓝-监控</option>
                                    <option>创蓝-夸克</option>
                                    <option>亿美-夸克</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label">业务  I  D：</label>
                                <input class="form-control" placeholder="Enter text">
                            </div>

                            <div class="form-group">
                                <label class="control-label">消息内容：</label>
                                <textarea class="form-control" rows="3"></textarea>
                            </div>

                            <button type="submit" class="btn btn-default">发送短信</button>
                            <button type="reset" class="btn btn-default">返回</button>
                        </div>
                    </form>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
            <div class="panel-footer">
                <div style="text-align: center">Copyright © 2014-2017 <a href="http://www.quarkfinance.com">quarkfinance.com</a></div>
            </div>
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>

